<div class="container mt-5" ng-controller="PostController" ng-init="getCategory();">
   <div class="row">
       <div class="col-md-3"></div>

        <!--  -->
        <div class="col-md-6 ">
           <div class="card shadow-lg p-4 ">
            <h4>Add New Post</h4>
            <form id="postAddForm" enctype="multipart/form-data">
                <!-- Post Title -->
                <div class="mb-3">
                    <label for="title" class="form-label">Post Title</label>
                    <input type="text" class="form-control" id="title" ng-model="post.title" placeholder="Enter Title" required>
                </div>
        
                <!-- Post Category -->
                <div class="mb-3">
                    <label for="category" class="form-label">Post Category</label>
                    <select class="form-select" id="category_id" name="category_id" ng-model="post.category" required>
                        <option value="">Select Category</option>
                        <option value="{{cat.category_id}}" ng-repeat="cat in categories ">{{cat.category_name}}</option>
                    </select>
                </div>
        
                <!-- Post Image -->
                <div class="mb-3">
                    <label for="image" class="form-label">Post Image</label>
                    <input type="file" class="form-control" id="image" name="postImage"  ng-model="post.image" accept="image/*" required>
                </div>
        
                <!-- Post Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Post Description</label>
                    <textarea class="form-control" id="description" name="description" ng-model="post.description" rows="5" required></textarea>
                </div>
        
                <button type="button" ng-click="addPost()" class="btn btn-primary">Add Post</button>
            </form>
           </div>
           
        </div>
    
      
       <div class="col-md-3"></div>
   </div>
</div>