<div class="container  mt-5" ng-controller="PostController" ng-init="getAllPosts();">

    <a class="btn btn-success flex-right" href="#/post/add">Add</a>
    <div class="card shadow-lg p-4">
        
        <h4>Post List</h4>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts track by $index">
                    <td>{{$index + 1}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.category_name}}</td>
                    <td><img src="{{baseUrl}}/uploads/post/{{post.image}}" alt="Sample Image 1" width="100"></td>
                    <td> {{post.description.substring(0,50)}}</td>
                    <td>
                       

                        <a class="btn btn-primary btn-sm" href="#/post/edit/{{post.id}}">
                            <i class="bi bi-pencil-square"></i> 
                        </a>
                        
                        <a ng-click="deletePost(post.id)"  class="btn btn-danger btn-sm" >
                            <i class="bi bi-trash"></i> 
                        </a>

                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
  
</div>