
<!-- <div class="container-fluid p-5 bg-primary text-white text-center" >
    <h1> Blog Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div> -->
    
<div class="container mt-5" ng-controller="HomeController" ng-init="getAllPosts();">
  <div class="row">
    <div class="col-md-3 mb-4" ng-repeat="post in posts">
        <div class="card shadow-sm">
          
            <img ng-src="uploads/post/{{post.image}}" class="card-img-top" alt="Blog Image">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.description | limitTo: 100 }}...</p>
             
              <span class="badge bg-success mt-2">{{ post.category_name }}</span>
              <br/>
              <a href="#/blog/{{post.id}}" class="btn btn-primary btn-sm">Read More</a>
            </div>
        </div>
    </div>
</div>
  </div>
  