<div class="container mt-4" ng-controller="HomeController" ng-init="blogDetail();">
    <a href="#!/" class="btn btn-secondary mb-3">Back to Home</a>
    <div class="card shadow-sm">
        <img ng-src="uploads/post/{{post.image}}" class="card-img-top" alt="Blog Image">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="text-muted"><strong>Category:</strong> {{ post.category_name }}</p>
            <p class="card-text">{{ post.description }}</p>
        </div>
    </div>
</div>