
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1> Home Page</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
    
<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h3>Loream Ipsume</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Loream Ipsume</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Loream Ipsume</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
  